.kasa-banner {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 25px;

  &__img,
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    background: rgba(
      0,
      0,
      0,
      0.3
    ); // Applique l'effet assombrissant directement
    z-index: 1; // S'assure que l'overlay est au-dessus de l'image mais en dessous du texte
  }

  &__title {
    font-size: 48px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    text-align: center;
    z-index: 2; // Garantit que le texte reste au-dessus de l'overlay et de l'image
  }
}
