@use '../utils/' as *;

.star-rating {
  width: 98px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include desktop-only {
    margin-top: 20px;
    width: 196px;
    height: 36px;
  }
}
