/* imports utils folder for mixins and variables */
@use '../utils/' as *;

.about {
  @include MarginSide_M;

  @include desktop-only {
    @include MarginSide_D;
  }

  &__collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
