@use '../utils/' as *;

.accommodation {
  @include MarginSide_M;

  @include desktop-only {
    @include MarginSide_D;
  }

  &__title {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include desktop-only {
      margin-top: 30px;
      flex-direction: row;
    }

    &-location {
      h1 {
        font-size: $TitleAccommodationText_M;
        font-weight: 500;
        line-height: 142.6%;

        @include desktop-only {
          font-size: $TitleAccommodationText_D;
        }
      }

      p {
        font-size: $AccommodationText_M;

        @include desktop-only {
          font-size: $AccommodationText_D;
        }
      }
    }

    &-host {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;

      @include desktop-only {
        width: 196px;
        flex-direction: column;
        justify-content: flex-start;
      }
    }
  }

  &__host-info {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      width: 90px;
      font-size: $AccommodationText_M;
      text-align: end;
      margin-right: 10px;

      @include desktop-only {
        width: 120px;
        font-size: $AccommodationText_D;
      }
    }

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      overflow: hidden;
      display: inline-block;

      @include desktop-only {
        width: 64px;
        height: 64px;
      }
    }
  }

  &__description {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    @include desktop-only {
      flex-direction: row;
    }
  }
}
