@keyframes openCollapseMobile {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 145px; // Hauteur pour mobile
    opacity: 1;
  }
}

@keyframes closeCollapseMobile {
  from {
    max-height: 145px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}
