/* imports utils folder for mixins and variables */
@use '../utils/' as *;

footer {
  margin-top: 30px;
  padding: 60px 0px;
  height: 210px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @include desktop-only {
    padding: 60px 0px 30px 0px;
    justify-content: space-between;
  }

  p {
    font-size: 12px;
    color: $textColorFooter;

    @include desktop-only {
      font-size: 24px;
    }
  }
}
