@use '../utils/' as *;

header {
  @include MarginSide_M;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include desktop-only {
    @include MarginSide_D;
    margin-top: 40px;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  a {
    margin-left: 10px;
    font-size: 12px;
    text-transform: uppercase;

    @include desktop-only {
      margin-left: 60px;
      font-size: 24px;
      text-transform: none;
    }
  }
}

.kasa-logo {
  max-width: 145px;
  width: 45%;
  max-height: 47px;
  overflow: hidden; // Cela garantit que rien ne dépasse du conteneur
  display: flex; // Assure un bon alignement de l'image à l'intérieur
  justify-content: center; // Centre horizontalement
  align-items: center; // Centre verticalement

  @include desktop-only {
    max-width: 210px;
    max-height: 68px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain; // Garde l'image dans les limites sans la déformer
  }
}
