@import '../utils/mixins.scss';

header {
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    align-items: center;
  }

  a {
    width: 170px;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
  }
}
