/* imports utils folder for mixins and variables */
@use '../utils/' as *;

/* ajustement for a better display */
* {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: $textColorMain;
  margin: 0px;
  padding: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
